.root { -fx-focus-color: transparent; }

.media-controls {
    -fx-padding: 5px;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
    -fx-background-color: #303033;
}

.selected {
    -fx-background-color: #656568;
}

.selected-block {
    -fx-border-color: #656568;
    -fx-border-style: solid;
    -fx-border-width: 7;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.titled-pane > .title {
    /*-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; !* 2 10 3 10 *!*/
    -fx-padding: 0.5em 0.833333em 0.5em 0.833333em; /* 2 10 3 10 */
    -fx-background-color: #202124, #202124, #202124;
    -fx-border-color: #656568;
    -fx-border-width: 1 0 0 0;
}

.titled-pane > .title > .text {
    -fx-fill: white;
}

.titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: transparent, #777777;
}

.titled-pane > *.content {
    -fx-padding: -0.1em;
}




.menu .label {
    -fx-text-fill: white;
}

.menu, .menu-item, .context-menu {
    -fx-background-color: #202124;
}

.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}




.dialog-pane {
    -fx-background-color: #202124;
}

.dialog-pane .label {
    -fx-text-fill: white;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #202124;
}

/*.dialog-pane:header .header-panel .label {*/
    /*-fx-font-style: italic;*/
    /*-fx-font-size: 2em;*/
/*}*/

